@import "tailwindcss";


@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

@theme {
  --font-sans: "Montserrat", sans-serif;
}


  .container-global {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2.5rem;  /* px-10 = 40px */
  padding-right: 2.5rem;
}

@media (max-width: 640px) {
  .container-global {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}


